html, body, #app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "HarmonyOS Sans SC", "Helvetica Neue", "PingFang SC", "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

.el-button {
  --el-border-radius-base: .75rem;
}

.el-input {
  --el-border-radius-base: .75rem;
}
